footer {
  text-align: center;
  background-color: #36bf36;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-block: 1rem;
  margin-top: 3rem;
  color: var(--lemonColor);
  font-size: 17px;

  & span {
    color: var(--bodyFont);
    text-transform: capitalize;
  }
}
